{{#link-to "buildings"}} Go to the buildings page {{/link-to}}

<ul class="buildings-listing">
  {{#each building in buildings}}
    <li>
      {{#link-to "building" building}}
        {{building.name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>no buildings</li>
  {{/each}}
</ul>