extends layout

block content
  section.details
    h1 Add a building

    form#add-form
      label(for="name") Name:
      input#name(type="text", name="name", required)

      label(for="model") Model:
      input#model(type="file", name="model", accept=".zip,.obj,.dae,.ply,.dxf", required)

      button#add-button(type="submit") Add building

  script.
    var addForm = document.getElementById("add-form");
    var nameInput = document.getElementById("name");
    var fileInput = document.getElementById("model");
    var addButton = document.getElementById("add-button");

    // TODO: Catch errors and notify user
    addForm.addEventListener("submit", function(event) {
      event.target.checkValidity();
      event.preventDefault();

      addButton.innerHTML = "Uploading&hellip;";

      var files = fileInput.files;
      var file = files[0];

      // This requires IE 10+
      // What are the ramifications of this?
      // What alternatives exist for async file upload?
      var formData = new FormData();

      // Check the file type.
      if (!file.name.match(".*\.zip|.*\.obj|.*\.dae|.*\.ply|.*\.dxf")) {
        console.log("Model file type not valid");
        return;
      }

      // Add the name to the request
      formData.append("name", nameInput.value);

      // Add the file to the request.
      formData.append("model", file, file.name);

      $.ajax({
        url: "/api/buildings",
        data: formData,
        processData: false,
        contentType: false,
        type: "POST",
        success: function(data, status, xhr) {
          window.location.href = "/add/location/" + data.building._id;
        },
        error: function(xhr, errorType, error) {
          // TODO: Display error and course of action

          // Unauthenticated
          if (xhr.status === 403) {
            // Redirect to login page
            window.location.href = "/login";
          }

          console.log(xhr.status);
          console.log(errorType);
          console.log(error);
        }
      });
    });