extends layout
 
block content
  section.container
    div.col-7
      h1 Contributing to Polygon City 
      
      p We welcome contributions! We accept lots of kinds of models. Most people are looking for a single, high-resolution model of a specific building, bridge, or other structure.

      h2 Guidelines
      
      ul
        li We prefer models of real, existing structures. (Pre-visualization models of structures under construction are fine.)
        li Fictional or otherwise non-existent structures are allowed but will not appear in the map-based browsing interface or the gallery.
        li We prefer individual buildings - please break up campuses and other groups of structures.
        li We prefer to keep face counts under 10K. If you have a very detailed model, please consider also uploading a low-rez version of it. (Try our simplifier)
        li If you have textures, please zip everything up together before uploading.
        li Try to keep each structure's zip file size under 10MB.
        li For future terrain integration, we will consider z=0 to be the ground plane at the object’s bounding-box centroid. Keep this in mind when constructing things on hills!

      h2 Licensing

      p A variety of licenses are allowed, but we encourage you to select a permissive license. We like "CC BY-SA". 

      p By uploading to this site, you grant us the right to display and store your model, as well as to perform optimizations on the model to facilitate area-based downloading.

      h2 We promise

      p You will always own your data, including metadata. You can always change your licenses. You can download or remove everything you uploaded from us at any time. If we ever close down, we’ll give you a month’s notice.
      
      p We reserve the right to change the license - we’ll give you notice

      h2 Succinct Terms of Service

      p No yellin’. No cursin’. No spittin’. We reserve the right to refuse service to anyone. Violators will be banned and their data printed out and stuck on a pike.

      h2 About us

      p This open-source project is sponsored by Mapzen.