extends layout

block content
  #user
    h1 Welcome
    //- h1.text-center.login-title Welcome #{user.username}. Check your details below:
    //-   div.signup-wall
    //-     ul.user-details
    //-       li Username ---> #{user.username}
    //-       li Email ---> #{user.email}
    //-   a(href='/signout', class='text-center new-account') Sign Out