extends layout

block content
  if message && message.length > 0
    div.flash-alert
      span #{message}
          
  div#home-map
    div#home-map-overlay
      h2
      p
      p.buttons
      span.stalk

  script(src="/lib/webcomponentsjs/webcomponents.min.js")
  link(rel="import" href="/lib/flag-icon/flag-icon.html")

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")

  script.
    // TODO: Update to 0.8/1.0 with .flyTo method when available
    // https://github.com/Leaflet/Leaflet/pull/2382
    var map = L.map("home-map", {zoomControl: false}).setView([51.50517, -0.01937], 16);

    // Disable drag and zoom handlers.
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();

    // Disable tap handler, if present.
    if (map.tap) map.tap.disable();

    L.tileLayer("http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png", {
      attribution: "&copy; <a href='http://stamen.com'>Stamen</a> & <a href='http://osm.org/copyright'>OpenStreetMap</a> contributors"
    }).addTo(map);

    // Rotate through buildings
    var buildings = !{JSON.stringify(buildings)};

    var buildingOverlay = document.getElementById("home-map-overlay");
    var buildingTitle = document.querySelector("#home-map-overlay h2");
    var buildingLocation = document.querySelector("#home-map-overlay > p");
    var buildingButtons = document.querySelector("#home-map-overlay p.buttons");

    var buildingIndex = 0;
    var changeBuilding = function() {
      var building = buildings[buildingIndex];

      buildingTitle.innerHTML = "<a href='/building/" + building.slug.id + "/" + building.slug.name + "'>" + building.name + "</a>";
      buildingLocation.innerHTML = building.locality.district + ", " + building.locality.country + ((building.locality.countryCode) ? " <flag-icon key='" + building.locality.countryCode + "' img>" : "");
      buildingButtons.innerHTML = "<a class='button' href='/building/" + building.slug.id + "/" + building.slug.name + "'>View building</a>";

      if (!buildingOverlay.style.display || buildingOverlay.style.display === "none") {
        buildingOverlay.style.display = "block";
      }

      map.panTo([building.location.coordinates[1], building.location.coordinates[0]]);
      
      // Offset map
      map.panBy(L.point(0, 140), {animate: false});

      buildingIndex += 1;

      if (buildingIndex === buildings.length) {
        buildingIndex = 0;
      }

      setTimeout(changeBuilding, 5000);
    };

    if (buildings.length > 0) {
      changeBuilding();
    }