doctype html
html
  head
    title Polygon City
    link(rel="stylesheet", href="/style/main_new.css")
    script(src="/lib/jquery/dist/jquery.min.js")
  - var body = (bodyId) ? bodyId : "";
  body(id="#{body}")
    header.navigation
      .navigation-wrapper
        a.logo(href="/")
          img(src="/images/logo.png", alt="Logo")
        a#js-mobile-menu.navigation-menu-button(href="") MENU
        .nav
          ul#navigation-menu
            li.nav-link
              a(href="/") Home
            li.nav-link
              a(href="/browse") Browse
            li.nav-link
              a(href="/add") Add building
            li.nav-link
              a(href="/search") Adv. Search
        .navigation-tools
          .search-bar
            .search-and-submit
              form(action="/search", method="POST")
                input(type="search", name="search" placeholder="Search by building name")
                button(type="submit")
                  img(src="/images/search-icon.png", alt="Search icon")
          if (user)
            a.logout(href="/logout") Logout
          else
            a.login(href="/login") Login
            a.signup(href="/signup") Sign up

      if body
        .banner-wrapper
          .banner
            .navigation-wrapper
              h1 PolygonCity
              p.tagline Free and open 3D building library
              p.cta
                button Find a building
                button Add a building
      
    section.content
      block content

    footer

    script.
      $(document).ready(function() {
        var menu = $("#navigation-menu");
        var menuToggle = $("#js-mobile-menu");

        $(menuToggle).on("click", function(e) {
          e.preventDefault();
          menu.slideToggle(function(){
            if(menu.is(":hidden")) {
              menu.removeAttr("style");
            }
          });
        });
       
        // underline under the active nav item
        $(".nav .nav-link").click(function() {
          $(".nav .nav-link").each(function() {
            $(this).removeClass("active-nav-item");
          });
          $(this).addClass("active-nav-item");
          $(".nav .more").removeClass("active-nav-item");
        });
      });