doctype html
html
  head
    title= PolygonCity
    link(rel="stylesheet", href="/style/main.css")
  body
    nav
      li
        a(href="/") Home
      li
        a(href="/browse") Browse buildings
      li
        a(href="/add") Add building
      if (user)
        li Hi #{user.username}!
        li
          a(href="/Logout") Logout
      else
        li
          a(href="/login") Login
        li
          a(href="/signup") Signup

      form(action="/search", method="POST")
        input(type="text", name="keyword" placeholder="Keyword", required)
        button(type="submit") Search
    block content