extends layout
 
block content
  section.details
    h1 Login 
    
    form(action="/login", method="POST")
      input(type="text", name="username" placeholder="Username", required, autofocus)
      input(type="password", name="password" placeholder="Password", required)
      button(type="submit") Sign in
    a(href="/forgot") Forgot your login details?
    br
    a(href="/signup") Create an account
    #message
      if message
        h1.text-center.error-message #{message}