extends layout_new

block content
  section.container
    div.col-7
      h1 Sign up

      if message
        div.flash-alert
          span #{message}

      form(action="/signup", method="POST")
        input(type="text", name="username", placeholder="Username", required, autofocus)
        input(type="password", name="password", placeholder="Password", required)
        input(type="email", name="email", placeholder="Email", required)
        input(type="text", name="website", placeholder="Website")
        input(type="text", name="twitter", placeholder="Twitter handle")
        button(type="submit") Register