extends layout_new
 
block content
  section.container
    div.col-7
      h1 Reset password 
      
      form(action="/reset/#{token}", method="POST")
        input(type="password", name="password" placeholder="New password", required)
        input(type="password", name="confirm" placeholder="Confirm password", required)
        button(type="submit") Update password
      #message
        if message
          h2.text-center.error-message #{message}