extends layout

block content
  section.container
    div.col-7
      h1 Search

      if message && message.length > 0
        div.flash-alert
          span #{message}

      form(action="/search", method="POST")
        input(type="text", name="name", placeholder="Building name", autofocus)
        button(type="submit") Search

      p
        strong or
      
      input#location-search(type="text" placeholder="Enter place to search nearby")
      
      p
        strong or
      
      button(type="button" id="find-near-me") Find buildings near me
      
      p
        strong or

      form(action="/search", method="POST")
        input(type="text", name="longitude", placeholder="Longitude")
        input(type="text", name="latitude", placeholder="Latitude")
        input(type="text", name="distance", placeholder="Distance")
        button(type="submit") Search

  script(src="/lib/typeahead.js/dist/typeahead.bundle.min.js")
  script(src="/lib/geolocator.min.js")

  script.
    var findNearMeButton = document.getElementById("find-near-me");

    var locationSearch = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace("value"),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: "http://open.mapquestapi.com/nominatim/v1/search.php?format=json&limit=5&addressdetails=1&q=%QUERY",
        filter: function(response) {
          return $.map(response, function(feature) {
            return {
              name: feature.display_name,
              coordinates: [feature.lat, feature.lon]
            };
          });
        }
      }
    });
     
    locationSearch.initialize();
     
    $("#location-search").typeahead(null, {
      autoselect: true,
      name: "location-search",
      displayKey: "name",
      source: locationSearch.ttAdapter()
    }).keypress(function (event) {
      // Prevent form submission when selecting an autocomplete item
      if (event.which == 13) {
        event.preventDefault();
  
        // Auto-select first suggestion
        var e = jQuery.Event("keydown")
        e.keyCode = e.which = 9;
        
        $("#location-search").triggerHandler(e);

        // Close drop down
        $("#location-search").trigger("blur");
      }
    }).on("typeahead:autocompleted", function(event, suggestion, actionName) {
      window.location.href = "/search/near/" + suggestion.coordinates[0] + "," + suggestion.coordinates[1] + ",1000";
    }).on("typeahead:selected", function(event, suggestion, actionName) {
      window.location.href = "/search/near/" + suggestion.coordinates[0] + "," + suggestion.coordinates[1] + ",1000";
    });

    findNearMeButton.addEventListener("click", function(e) {
      // Use the Geo Location API
      var geoOptions = {
        enableHighAccuracy: true,
        timeout: 6000,
        maximumAge: 0
      };

      geolocator.locate(onGeoSuccess, onGeoError, true, geoOptions);
    });

    var onGeoSuccess = function(location) {
      window.location.href = "/search/near/" + location.coords.longitude + "," + location.coords.latitude + ",1000";
    };

    var onGeoError = function(error) {
      console.log(error);
    };