extends layout
 
block content
  section.container
    div.col-7
      h1 Edit profile

      if message && message.length > 0
        div.flash-success
          span #{message}

      form(action="/user/edit/#{profile.username}", method="POST")
        label(for="website") Website:
        input(type="text", name="website", placeholder="Website" value=(profile.website) ? profile.website : "")

        label(for="twitter") Twitter:
        input(type="text", name="twitter", placeholder="Twitter handle" value=(profile.twitter) ? profile.twitter : "")

        label(for="email") Email:
        input(type="email", name="email", placeholder="Your email" required value=(profile.email) ? profile.email : "")

        button(type="submit") Update profile