<form>
  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/><br/>
  <label for="center-latitude">Center latitude:</label>
  <input id="center-latitude" type="text" name="center-latitude"/><br/>
  <label for="center-longitude">Center longitude:</label>
  <input id="center-longitude" type="text" name="center-longitude"/><br/><br/>
  <input id="model" type="file" name="model" accept=".obj,.dae,.ply,.dxf"/><br/><br/>
  <button {{action "save"}}>Add</button>
</form>